.navigation {
  //   // @include centreflex($jc: space-between);

  // padding-top: 24px;
  // padding-bottom: 24px;

  @include for-size(phone-only) {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  @include for-size(tablet-portrait) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.nav-list {
  // display: flex;

  @include for-size(phone-only) {
    display: block;
  }

  @include for-size(tablet-portrait) {
    display: block;
  }

  &-item {
    position: relative;
  }

  &-item:not(last-child) {
    @include for-size(desktop) {
      margin-right: 50px;
    }
  }
}

// .link-list {
//   // display: flex;
// }
